<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leichao.network">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true"
        android:name=".StudyApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.leichao.network.net.glide.CustomGlideModule"
            android:value="GlideModule" />

        <activity android:name=".test.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".test.TestGetActivity"/>

        <activity android:name=".test.TestPostActivity"/>

        <activity android:name=".test.TestDownloadActivity"/>

        <activity android:name=".test.TestUploadActivity"/>

        <activity android:name=".test.TestGsonActivity"/>

    </application>

</manifest>
